@tailwind base;
@tailwind components;
@tailwind utilities;
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: #111;
}

table {
    margin: 20px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input,
button {
    border: 1px solid gray;
}

form {
    margin: 20px;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}


/* Add more styles as needed */